* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	max-width: 768px;
	margin: 0 auto;
	padding: 20px 10px;
	color: #3e3e3e;
	font: 18px arial, Helvetica, sans-serif;
	background-image: url(./../img/bg/bg.png);
}
